@using ReportViewerForMvc;
@{
    ViewBag.Title = "Report Employee";
}
<div class="col-md-12" style="width:100%">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
</div>
